/*=================== Main =====================*/
/*index*/
.portada {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("../img/foto_portada.jpeg");
  background-position: top;
  background-size: cover;
  height: 70vh;
  padding-bottom: 2rem;

  h2 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    font-size: 65px;
    color: white;
  }

  p {
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
  }
}


.div-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/planes_fondo.jpg");
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.btn {
  display: flex;
  justify-content: center;
  width: 20rem;
  border: 1.5rem solid #35E87A;
  background-color: #35E87A;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  border-radius: 3rem;
}